.home {
    background-color: var(--gray-900);
}

.home main {
    margin: 0px 180px 0px 180px;
}

.home .master-view {
    display: flex;

    align-items: center;
    justify-content: space-between;

    height: 534px;
}

.master-view .info-container {

    display: flex;
    flex-direction: column;

    justify-content: center;

    gap: 15px;

    width: 550px;
}

.master-view .img-container {

    display: flex;
    justify-content: center;
}

.master-view .info-container .title {
    color: var(--primary-color);
}

.master-view .info-container .name {
    color: var(--gray-100);

    font-size: 30px;
}

.master-view .info-container .description {
    color: var(--gray-400);

    margin-top: 10px;
}

.master-view .info-container button {
    width: 230px;
    height: 40px;

    background-color: transparent;

    border: solid 2px var(--primary-color);
    border-radius: 4px;

    color: var(--primary-color);

    font-size: 20px;
}

.master-view .info-container button:hover {

    background-color: var(--primary-color);
    color: var(--gray-100);

    cursor: pointer;

    transition-duration: 0.2s;
    transition-timing-function: linear;

}