.home-section {

    height: 550px;
    width: 100%;

    margin-top: 80px;

    display: flex;
    justify-content: center;

    background-color: var(--gray-900);
}

.home-content {
    height: 100%;
    width: 75%;

    display: flex;

    align-items: center;
    justify-content: space-between;
}

.home-content .info-container {

    display: flex;
    flex-direction: column;

    justify-content: center;

    gap: 15px;

    width: 550px;
}

.home-content .img-container {

    display: flex;
    justify-content: center;
}

.home-content .info-container .title {
    color: var(--primary-color);
}

.home-content .info-container .name {
    color: var(--gray-100);

    font-size: 30px;
}

.home-content .info-container .description {
    color: var(--gray-400);

    margin-top: 10px;
}

.home-content .info-container .button-area {
    width: 38%;
}