*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --green: #5de4a3;
    --light-green: #d5f7e6;
    --black: #1b2e35;
    --gray: #9eb4a8;
}

header .point {
    width: 10px;
    height: 10px;

    border: 1px solid var(--green);

    display: flex;

    align-items: center;
    justify-content: center;
}

header .point .square {
    width: 5px;
    height: 5px;

    background-color: var(--green);
}