.skills-section {
    width: 100%;
    height: 100%;

    background: var(--gray-900);

    display: flex;
    flex-direction: column;
    align-items: center;


    padding: 0 180px;
}

.skills-section header {

    display: flex;

    align-items: center;
    justify-content: center;

    gap: 10px;

    color: var(--gray-100);

    font-size: 32px;
    font-weight: semi-bold;

    margin-top: 50px;

    margin-bottom: 40px;
}


.skills-section .skills-content {
    display: flex;
    flex-direction: column;

    width: 100%;

    align-items: center;
    justify-content: center;

    gap: 30px;
}

.skills-section .skills-content .line {
    display: flex;

    width: 100%;

    align-items: center;
    justify-content: space-between;
}

.skills-section .skills-content .cel {
    display: flex;

    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 5px;

    width: 25%;
}

.skills-section .skills-content .cel p {
    color: var(--gray-400);
}


.icon {
    width: 48px;
    height: 48px;
}