.header-container {
    width: 100%;
    height: 80px;

    background-color: var(--gray-900);

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;

    left: 0;
    top: 0;

    border-bottom: 1px solid var(--primary-color);
}

.header-container .header-content {
    width: 75%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container .header-content .logo {
    font-size: var(--header-md);
    font-weight: 500;

    color: var(--gray-100);

    display: flex;
}

.header-container .header-content .logo:hover {
    cursor: pointer;
}

.header-container .header-content .logo .details {
    color: var(--primary-color);
}

.header-container .header-content nav {
    display: flex;


    gap: 60px;
}

.anchor {
    font-size: var(--text-md);

    color: var(--gray-100);

    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.anchor:hover {
    color: var(--primary-color)
}

.anchor:focus {
    color: var(--gray-100);
}

.header-container .header-content .burger-root {

    background-color: transparent;

    display: none;
    align-items: center;
    justify-content: center;
    border: none;

    cursor: pointer;
}


.header-container .header-content .burger-root svg {
    color: var(--gray-400);

    width: 30px;
    height: 30px;
}

.header-container .header-content .menu-background {
    width: 100%;
    height: 100vh;

    z-index: 1;
    background-color: var(--gray-800);

    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-background .close-root {
    position: absolute;

    top: 4%;
    right: 12.5%;

    cursor: pointer;
}

.menu-background .close-root svg {

    width: 30px;
    height: 30px;

    color: var(--gray-100);
}

.header-container .header-content .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 20px;
}




@media(max-width: 1150px) {
    .header-container .header-content nav {
        gap: 40px;
    }
}

@media(max-width: 1000px) {
    .header-container .header-content nav {
        display: none;
    }

    .header-container .header-content .burger-root {
        display: flex;
    }
}


@media(max-width: 550px) {

    .header-container .header-content .logo p {
        display: none;
    }
}