.header-container {
    width: 100%;
    height: 100px;

    padding-top: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container h1 {
    font-size: 24px;

    display: flex;
}

.header-container h1 .details {
    color: var(--green);
}

.header-container nav {
    display: flex;

    gap: 100px;
}

.header-container nav a {
    font-size: 18px;

    color: var(--gray);
}